* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #181818;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300px;
}

/* Flex */

#wrapper {
  display: flex;
  flex-direction: row;
}

#left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100vh;
  /* padding-top: 40px; */
  justify-content: center;
}

#right {
  flex: 1;
  /* flex-direction: column; */
}

/* Signin */
#signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 1rem;
}

#signin form {
  width: 80%;
  padding-bottom: 3rem;
}
#signin .logo {
  margin-bottom: 8vh;
}

#signin .logo img {
  width: 300px;
}

#signin label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#signin .text-input {
  margin-bottom: 1.3rem;
  width: 100%;
  border-radius: 2px;
  background: #181818;
  border-width: 1px;
  border-style: solid;
  border-color: #555;
  color: #ccc;
  padding-top: 0.5rem;
  padding-bottom: 1.3rem;
}
#signin .primary-btn {
  width: 100%;
}

#signin .secondary-btn,
.or,
.links {
  width: 60%;
}

#signin .links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

#signin .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: gray;
}
#signin .or span {
  color: #ccc;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

#main-footer {
  color: #ccc;
  text-align: center;
  font-size: 0.8rem;
  max-width: 80%;
  padding-top: 0.5rem;
}
/* Showcase */
#showcase {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  background: url('img/login-bg.jpg') no-repeat center center / cover;
}

#showcase .showcase-text {
  font-size: 3rem;
  width: 100%;
  color: #fff;
  margin-bottom: 1.4rem;
}

#showcase .secondary-btn {
  width: 60%;
  margin: auto;
}

/* main footer */
#main-footer a {
  color: #ff7b39;
  text-decoration: none;
}
/* Button */
.primary-btn {
  padding: 0.8rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background-color: #f96;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
}

.primary-btn:hover {
  background-color: #ff7b39;
}

.secondary-btn {
  padding: 0.8rem;
  height: 2.7rem;
  display: block;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  background-color: #f4f4f4;
  font-weight: 500;
  background: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.secondary-btn:hover {
  background-color: #ff7b39;
}
/* Media Querys */
@media (min-width: 1200px) {
  #left {
    flex: 4;
  }
  #right {
    flex: 6;
  }
}

/* smaller screen */

@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  #right {
    display: none;
  }
  #left {
    justify-content: flex-start;
    margin-top: 2vh;
  }
}
