// wide screen
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);

    }
}

// desktop and laptop
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);

    }
}

// tablet and small laptops 
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 30vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background: url('../../img/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimg'
            'bio'
            'job1'
            'job2'
            'job3';
        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);

    }

    .boxes {
        div {
            font-size: 1rem;
        }
    }
}

// smart phons
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);

    }
}